@use "../base/templates" as *;
@use "../base/media" as *;

.header {
  position: sticky;
  top: 0;
  padding: 25px 0px;
  background-color: white;
  z-index: 100;

  @include laptop {
    padding: 20px 0px;
  }
  @include laptop-min {
    padding: 15px 0px;
  }

  &__wrapper {
    @include flex-between;
    gap: 30px;
    @include laptop {
      gap: 20px;
    }
  }
  &__logos {
    display: flex;
    align-items: center;
    gap: 40px;
    @include laptop {
      gap: 20px;
    }
    @include tablet-min {
      gap: 15px;
    }
  }
  &__logo {
    display: block;
    width: 195px;
    @include laptop {
      width: 150px;
    }
    @include tablet-min {
      width: 125px;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  &__logo-type {
    display: block;
    width: 175px;
    @include laptop {
      width: 130px;
    }
    @include tablet-min {
      width: 120px;
    }
  }
  &__info {
    display: flex;
    align-items: start;
    gap: 40px;
    @include laptop {
      gap: 20px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__info-item {
    .item-name {
      font-weight: 300;
      font-size: 12px;
      color: var(--primary);
      opacity: 0.5;
      margin-bottom: 5px;
    }
    a.item-val {
      font-weight: 500;
      transition: opacity 0.3s ease;

      @include laptop {
        font-size: 14px;
      }

      @include hover {
        opacity: 0.8;
      }
    }
  }
  &__buttons {
    display: flex;
    gap: 15px;

    .btn-s {
      @include laptop-middle {
        &._calc {
          display: none;
        }
      }
    }
  }
  &__mob {
    display: flex;
    gap: 15px;
    flex-shrink: 0;
    @media (min-width: 1026px) {
      display: none !important;
    }
  }
  &__tel {
    @include flex-center;
    width: 35px;
    height: 35px;
    font-size: 24px;
  }
  &__burger-btn {
    @include flex-center;
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}
.header-n {
  border-top: 1px solid rgba(48, 54, 60, 0.2);
  @include laptop-min {
    position: absolute;
    left: -9999px;
    z-index: -9999;
  }
  &__list {
    @include flex-between;
    gap: 20px;

    @include laptop-middle {
      gap: 15px;
    }

    a {
      display: block;
      font-weight: 500;
      padding: 13px 25px;

      transition: color .3s ease;
      @include hover {
        color: black;
      }
      @include laptop-middle {
        font-size: 15px;
        padding: 10px 18px;
      }
    }
  }
}