@use "../base/templates" as *;
@use "../base/media" as *;

.s-catalog {
  overflow: hidden;
  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 190px;
    @include laptop {
      gap: 40px;
    }
    @include laptop-min {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }
  &__col {
    flex: 0 1 620px;
    overflow: hidden;
    @include laptop {
      flex-basis: 520px;
    }
    @include laptop-middle {
      flex-basis: 450px;
    }
    @include laptop-min {
      flex: auto;
      width: 100%;
      overflow: visible;
    }
  }
  &__tabs-nav-slider {
    width: 100%;
    margin-bottom: 50px;
    @include laptop-middle {
      margin-bottom: 30px;
    }
    @include laptop-min {
      margin-bottom: 25px;
      overflow: visible !important;
    }
  }
  &__tab-btn {
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    @include laptop-min {
      width: 140px !important;
      max-width: 100%;
    }
    @include hover {
      .item-name {
        color: rgba(48, 54, 60, 0.5);
      }
    }

    &._active {
      .item-name {
        color: var(--primary);
      }
    }

    .item-img {
      display: block;
      width: 100%;
      pointer-events: none;
    }
    .item-name {
      display: block;
      text-transform: uppercase;
      font-size: 18px;
      padding-top: 15px;
      color: rgba(48, 54, 60, 0.2);
      width: 100%;
      margin-top: 5px;
      border-top: 3px solid currentColor;

      transition: color 0.3s ease;
      @include laptop-min {
        font-size: 16px;
      }
    }
  }
  &__info {
    max-width: 600px;
    @include laptop-min {
      max-width: none;
    }
  }
  &__info-head {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__info-title {
    font-weight: 500;
    font-size: 32px;
    @include laptop-min {
      font-size: 28px;
    }
    @include tablet {
      font-size: 26px;
    }
  }
  &__price {
    font-weight: 500;
    font-size: 24px;
    @include tablet {
      font-size: 20px;
    }
  }
  &__price-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 20px;
    @include tablet {
      gap: 15px;
    }
    .item-grid {
      border: 1px solid rgba(48, 54, 60, 0.2);
      padding: 15px 30px;
      flex: 1 1 calc(50% - 20px);
      @include tablet {
        padding: 10px 20px;
      }
    }
    .item-name {
      font-size: 15px;
      letter-spacing: 0.05em;
      margin-bottom: 15px;
      @include tablet {
        margin-bottom: 10px;
      }
      @include tablet-min {
        flex-basis: 100%;
      }
    }
    .item-price {
      font-weight: 500;
      font-size: 32px;
      letter-spacing: 0.05em;
      @include laptop-middle {
        font-size: 28px;
      }
      @include tablet {
        font-size: 26px;
      }
      @include tablet-min {
        font-size: 24px;
      }
    }
  }
  &__info-content {
    margin-top: 25px;
  }
  &__info-list {
    margin-top: 25px;
  }
  &__info-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 15px;
    @include laptop-middle {
      margin-top: 30px;
    }
    @include tablet {
      margin-top: 25px;
    }

    .btn-s {
      width: 285px;
      @include tablet-min {
        width: 100%;
      }
    }
  }
  &__gallery {
    position: relative;
    flex: 1;
    z-index: 1;

    @include laptop-min {
      flex: auto;
      aspect-ratio: 1/0.55;
      width: 800px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__gallery-preview {
    position: absolute;
    display: block;
    top: 130px;
    left: -150px;
    max-width: none;
    @include laptop {
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @include laptop-min {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__gallery-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    max-width: none;
    z-index: -1;
    height: 100%;
    width: 960px;
    @include laptop {
      width: calc(100% + 15px);
    }
    @include laptop-min {
      width: 100%;
    }
  }
}
