@use "../base/templates" as *;
@use "../base/media" as *;

.s-hero {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 47.4%,
      rgba(0, 0, 0, 0.49) 66.43%,
      rgba(0, 0, 0, 0.75) 95.39%
    );
    z-index: -1;

    @include laptop {
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.49) 41.43%,
        rgba(0, 0, 0, 0.75) 95.39%
      );
    }
  }
  &__bg-slider {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2 !important;
  }
  &__bg-slide {
    height: 100%;
    z-index: 1;

    &.swiper-slide-active:not(:last-child) {
      img {
        object-position: bottom 0 right 150px;
        @include laptop {
          object-position: bottom 0 right 100px;
        }
        @include laptop-min {
          object-position: bottom 0 right 0;
        }
      }
    }

    &.swiper-slide-next {
      picture {
        transform: translateX(-440px) !important;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 15% 0%);

        @include laptop {
          transform: translateX(-300px) !important;
        }
        @include laptop-min {
          transform: translateX(0) !important;
        }
      }
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);

      transition:
        clip-path 0.4s ease,
        transform 0.4s ease,
        clip-path 0.4s ease;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: object-position 0.3s ease;
      }

      @include laptop-min {
        clip-path: none !important;
        img {
          object-position: center !important;
        }
      }
    }
  }
  &__slider {
  }
  &__slide {
    display: flex !important;
    align-items: flex-end;
    box-sizing: border-box;
    height: auto !important;
    min-height: 800px;
    padding: 200px 0px;
    color: white;
    opacity: 0 !important;

    &.swiper-slide-active {
      opacity: 1 !important;
    }

    @include laptop {
      min-height: 600px;
      padding: 120px 0px 150px 0px;
    }
    @include laptop-min {
      padding: 100px 0px;
    }
    @include tablet {
      min-height: 500px;
      padding: 40px 0px 80px 0px;
    }
  }
  &__slide-body {
    max-width: 675px;
  }
  &__slide-title {
  }
  &__slide-content {
    margin-top: 25px;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    gap: 15px;
  }

  &__slider-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 5;
    @include laptop-min {
      bottom: 30px;
    }
  }
  &__slider-nav-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
  }
}
