@use "../base/templates" as *;
@use "../base/media" as *;

.s-test {
  position: relative;
  z-index: 1;
  color: white;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(
      270deg,
      rgba(48, 54, 60, 0) 50.75%,
      #30363c 92.18%
    );
    z-index: -1;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    width: 715px;
    max-width: 100%;
  }
  &__title {
  }
  &__content {
    margin-top: 25px;
  }
  &__form-wrap {
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    color: var(--primary);

    @include tablet {
      padding: 20px;
    }
  }
  &__form {
    .form-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      row-gap: 20px;

      @include tablet {
        row-gap: 15px;
      }
    }
    .form-control {
      &._full {
        grid-column: 2 span;
      }

      @include tablet-min {
        grid-column: 2 span;
      }
    }
    .btn-s {
      width: 100%;
      grid-column: 2 span;
    }
  }
}
