@use "../base/templates" as *;
@use "../base/media" as *;

.form-control {
  width: 100%;
}

.input {
  --border: rgba(48, 54, 60, 0.2);
  --background: white;
  --color: var(--primary);
  --border-h: rgba(48, 54, 60, 0.5);
  --background-h: white;
  --color-h: var(--primary);
  --border-f: var(--primary);
  --background-f: white;
  --color-f: var(--primary);

  width: 100%;
  padding: 13px 20px;
  outline: none;
  background-color: var(--background);
  border: 1px solid var(--border);
  outline: none;

  color: var(--color);
  font-weight: 500;
  font-size: 16px;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;

  &::placeholder {
    color: inherit;
    opacity: 0.6;
  }

  @include hover {
    border-color: var(--border-h);
    background-color: var(--background-h);
    color: var(--color-h);
  }
  &:focus {
    border-color: var(--border-f) !important;
    background-color: var(--background-f) !important;
    color: var(--color-f) !important;
  }
}

.check-wrap {
  position: relative;
  z-index: 1;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    &:checked + .wpcf7-list-item-label::before {
      background: var(--url) center / 12px auto no-repeat;
      background-color: var(--background-a) !important;
      border-color: var(--border-a);
    }
  }
}
.wpcf7-list-item {
  margin-left: 0;
}
.wpcf7-list-item-label {
  cursor: pointer;
  display: flex;
  align-items: start;
  gap: 15px;
  user-select: none;

  a {
    text-decoration: underline;

    @include hover {
      text-decoration: none;
    }
  }

  &::before {
    --border: rgba(48, 54, 60, 0.2);
    --background: transparent;
    --border-a: var(--primary);
    --background-a: var(--primary);

    --url: url("@img/check-white.svg");

    content: "";
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: block;
    border: 1px solid var(--border);
    background-color: var(--background);

    transition: border-color .3s ease, background-color .3s ease;
  }
}
