.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.list-p {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  li {
    position: relative;
    padding-left: 22px;

    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 16px;
      background-color: var(--primary);
      left: 0;
      clip-path: polygon(40% 0, 100% 0, 100% 70%, 60% 100%, 0 100%, 0 30%);

      top: 3px;
    }
  }
}
