@use '../base/templates' as *;
@use '../base/media' as *;

.sect-m {
  margin: 75px 0px;
  scroll-margin-top: 175px;

  @include laptop-min {
    margin: 60px 0px;
    scroll-margin-top: 125px;
  }
}
.sect-p {
  padding: 75px 0px;
  scroll-margin-top: 100px;

  @include laptop-min {
    padding: 60px 0px;
    scroll-margin-top: 65px;
  }

  &.bg-concrete {
    background-color: var(--concrete);
    & + .sect-p.bg-concrete {
      padding-top: 0 !important;
    }
  }
  &.bg-linear {
    background: linear-gradient(270deg, #30363c 0%, #435465 100%);
    & + .sect-p.bg-linear {
      padding-top: 0 !important;
    }
  }
}
.sect-head {
  margin-bottom: 50px;
  @include laptop-middle {
    margin-bottom: 30px;
  }

  &__wrap {
    @include flex-between;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 20px;
  }
}