@use "../base/templates" as *;
@use "../base/media" as *;

.select {
  position: relative;

  &._open {
    .select-arrow {
      transform: rotate(180deg);
    }
    .select-body {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.select-btn {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-input {
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
}
.select-arrow {
  position: absolute;
  right: 20px;
  font-size: 6px;

  transition: transform 0.3s ease;
  z-index: 1;
}
.select-body {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid rgba(48, 54, 60, 0.2);
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);

  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.select-item {
  cursor: pointer;
  user-select: none;
  padding: 10px 15px;

  transition: background-color 0.3s ease;

  @include hover {
    background-color: rgba(48, 54, 60, 0.1);
  }

  &._active {
    background-color: rgba(48, 54, 60, 0.1);
    pointer-events: none;
  }
}
