<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logos">
        <a href="/" class="header__logo">
          <img src="@img/logo.svg" alt="logo" />
        </a>
        <img src="@img/logo-2.svg" alt="logo" class="header__logo-type" />
      </div>
      <div class="header__info">
        <div class="header__info-item">
          <div class="item-name">Адрес:</div>
          <div class="item-val">г. Самара, Южное шоссе 10А</div>
        </div>
        <div class="header__info-item">
          <div class="item-name">Отдел продаж:</div>
          <a href="tel:+7846115946" class="item-val">+7 (846) 211-59-46</a>
        </div>
        <div class="header__buttons">
          <a href="#modal-feedback" data-fancybox class="btn-s _outline">
            <span>Заказать звонок</span>
          </a>
          <a href="#s-credit" class="btn-s _calc">
            <span>Рассчитать платеж</span>
          </a>
        </div>
      </div>
      <div class="header__mob">
        <a href="tel:+7846115946" class="header__tel">
          <i class="icon-tel"></i>
        </a>
        <div class="header__burger-btn" id="burger-open">
          <i class="icon-burger"></i>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="header-n">
  <div class="container">
    <ul class="list header-n__list anchors">
      <li><a href="#s-catalog">Модели</a></li>
      <li><a href="#s-promo">Специальные предложения</a></li>
      <li><a href="#s-tradein">Трейд-ин</a></li>
      <li><a href="#s-credit">Рассрочка</a></li>
      <li><a href="#s-test">Тест-драйв</a></li>
      <li><a href="#s-reviews">Отзывы</a></li>
      <li><a href="#s-contacts">Контакты</a></li>
    </ul>
  </div>
</nav>

<aside>
  <div class="burger-overlay" id="burger-overlay" data-burger-close></div>
  <div class="burger" id="burger">
    <div class="burger__head">
      <a href="/" class="burger__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="burger__close" data-burger-close>
        <i class="icon-close"></i>
      </div>
    </div>
    <ul class="list burger__list anchors">
      <li><a href="#s-catalog">Модели</a></li>
      <li><a href="#s-promo">Специальные предложения</a></li>
      <li><a href="#s-tradein">Трейд-ин</a></li>
      <li><a href="#s-credit">Рассрочка</a></li>
      <li><a href="#s-test">Тест-драйв</a></li>
      <li><a href="#s-reviews">Отзывы</a></li>
      <li><a href="#s-contacts">Контакты</a></li>
    </ul>
    <div class="burger__info">
      <div class="burger__info-item">
        <div class="item-name">Адрес:</div>
        <div class="item-val">г. Самара, Южное шоссе 10А</div>
      </div>
      <div class="burger__info-item">
        <div class="item-name">Отдел продаж:</div>
        <a href="tel:+7846115946" class="item-val">+7 (846) 211-59-46</a>
      </div>
      <div class="burger__buttons">
        <a href="#modal-feedback" data-fancybox class="btn-s _outline">
          <span>Заказать звонок</span>
        </a>
        <a href="#s-credit" class="btn-s _calc">
          <span>Рассчитать платеж</span>
        </a>
      </div>
    </div>
  </div>
</aside>
