<aside>
  <div class="modal" id="modal-feedback">
    <div data-fancybox-close class="modal__close">
      <i class="icon-close"></i>
    </div>
    <div class="modal__body">
      <div class="modal__title" data-text="Связаться с нами">Связаться с нами</div>
      <div class="content-box modal__content">
        <p>Оставьте заявку и мы свяжемся с Вами в ближайшее время</p>
      </div>
      <form action="#" class="modal__form">
        <div style="display: none;">
          <input type="text" class="input-note">
        </div>
        <div class="form-grid">
          <div class="form-control">
            <input type="text" placeholder="Имя" class="input" />
          </div>
          <div class="form-control">
            <input type="tel" placeholder="Телефон" class="input" />
          </div>
          <div class="form-control">
            <div class="check-wrap">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-60">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-60"
                        value="1"
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я соглашаюсь с 
                          <a href="/personal-data" target="_blank">
                            Правилами обработки персональных данных
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
          </div>
          <div class="form-control">
            <div class="check-wrap">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-60">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-60"
                        value="1"
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я соглашаюсь на получение
                          <a href="/advertising-mail" target="_blank">
                            информационно-рекламной рассылки
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
          </div>
          <button type="submit" class="btn-s"><span>Отправить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="modal-thank">
    <div class="modal__body">
      <div class="modal__title">Благодарим за заявку</div>
      <div class="content-box modal__content">
        <p>Мы свяжемся с Вами в ближайшее время</p>
      </div>
    </div>
  </div>
</aside>
