<section class="sect-m s-about">
  <div class="container">
    <div class="s-about__wrap">
      <div class="s-about__info">
        <img src="@img/logo-about.svg" alt="logo" class="s-about__logo" />
        <h1 class="s-title">Купить KGM у официального дилера АВТОСЕТЬ.РФ</h1>
        <div class="content-box s-about__content">
          <p>
            Мы, компания АВТОСЕТЬ РФ занимаемся продажей новых автомобилей
            предоставляем услуги сервиса в России.
          </p>
          <p>
            Нашими клиентами являются физические и юридические лица – покупатели
            и продавцы автомобилей; производители и дистрибьюторы автомобильных
            брендов.
          </p>
        </div>
      </div>
      <a href="@img/catalog-gallery.jpg" data-fancybox class="s-about__gallery">
        <img src="@img/about.jpg" alt="image">
        <div class="btn-play _outline-white">
          <i class="icon-play"></i>
        </div>
      </a>
    </div>
  </div>
</section>
