<section class="s-adv">
  <div class="container">
    <div class="s-adv__grid">
      <div class="s-adv__item">
        <div class="item-val">1.5T GDI</div>
        <div class="item-name">Двигатель</div>
      </div>
      <div class="s-adv__item">
        <div class="item-val">163 л.с.</div>
        <div class="item-name">Мощность</div>
      </div>
      <div class="s-adv__item">
        <div class="item-val">6AT AISIN</div>
        <div class="item-name">Трансмиссия</div>
      </div>
      <div class="s-adv__item">
        <div class="item-val">280 Нм</div>
        <div class="item-name">Крутящий момент</div>
      </div>
      <div class="s-adv__item">
        <div class="item-val">Передний / Полный</div>
        <div class="item-name">Привод</div>
      </div>
    </div>
  </div>
</section>