<section class="sect-m s-catalog" id="s-catalog">
  <div class="container tabs">
    <div class="s-catalog__wrap">
      <div class="s-catalog__col">
        <div class="sect-head">
          <h2 class="s-title">Выберите модельный ряд</h2>
        </div>
        <div class="s-catalog__tabs-nav-slider tabs-nav swiper">
          <div class="swiper-wrapper">
            <div
              data-tab-btn="tab-catalog-0"
              class="swiper-slide s-catalog__tab-btn _active"
            >
              <img
                src="@img/catalog-preview.png"
                alt="image"
                class="item-preview"
              />
              <span class="item-name">KORANDO</span>
            </div>
            <div
              data-tab-btn="tab-catalog-1"
              class="swiper-slide s-catalog__tab-btn"
            >
              <img
                src="@img/catalog-preview.png"
                alt="image"
                class="item-preview"
              />
              <span class="item-name">TORRES</span>
            </div>
            <div
              data-tab-btn="tab-catalog-2"
              class="swiper-slide s-catalog__tab-btn"
            >
              <img
                src="@img/catalog-preview.png"
                alt="image"
                class="item-preview"
              />
              <span class="item-name">REXTON</span>
            </div>
            <div
              data-tab-btn="tab-catalog-3"
              class="swiper-slide s-catalog__tab-btn"
            >
              <img
                src="@img/catalog-preview.png"
                alt="image"
                class="item-preview"
              />
              <span class="item-name">TIVOLI</span>
            </div>
          </div>
        </div>
        <div class="tabs-content">
          <div data-tab="tab-catalog-0" class="_active _show">
            <div class="s-catalog__info">
              <div class="s-catalog__info-head">
                <div class="s-catalog__info-title">KORANDO</div>
                <div class="s-catalog__price">от 3 254 000 ₽</div>
              </div>
              <div class="s-catalog__price-grid">
                <div class="item-grid">
                  <div class="item-name">Выгода до</div>
                  <div class="item-price">499 000 ₽</div>
                </div>
                <div class="item-grid">
                  <div class="item-name">Еж. платеж</div>
                  <div class="item-price">от 6 000 ₽</div>
                </div>
              </div>
              <div class="content-box s-catalog__info-content">
                <p>
                  Кроссовер, вдохновленный дикой природой, ее бурными реками,
                  крутыми горами и духом путешествий. Названный в честь
                  национального парка Торрес‑дель‑Пайне в Патагонии, этот
                  автомобиль отличается динамичным и брутальным характером.
                </p>
              </div>
              <ul class="list list-p s-catalog__info-list">
                <li>Кредит от 0,01% на срок до 96 месяцев</li>
                <li>Выгода в трейд-ин – до 250 000 ₽</li>
                <li>Покупка за 1 день</li>
              </ul>
              <div class="s-catalog__info-buttons">
                <a
                  href="#modal-feedback"
                  data-fancybox
                  data-modal-title="Запись на тест-драйв"
                  data-target-note="#modal-feedback .input-note"
                  data-btn-note="Запись на тест драйв: KORANDO"
                  class="btn-s"
                >
                  <span>Записаться на тест-драйв</span>
                </a>
                <a href="#" class="btn-s _outline">
                  <span>Подробнее о модели</span>
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-catalog-1">
            <div class="s-catalog__info">
              <div class="s-catalog__info-head">
                <div class="s-catalog__info-title">TORRES</div>
                <div class="s-catalog__price">от 3 254 000 ₽</div>
              </div>
              <div class="s-catalog__price-grid">
                <div class="item-grid">
                  <div class="item-name">Выгода до</div>
                  <div class="item-price">499 000 ₽</div>
                </div>
                <div class="item-grid">
                  <div class="item-name">Еж. платеж</div>
                  <div class="item-price">от 6 000 ₽</div>
                </div>
              </div>
              <div class="content-box s-catalog__info-content">
                <p>
                  Кроссовер, вдохновленный дикой природой, ее бурными реками,
                  крутыми горами и духом путешествий. Названный в честь
                  национального парка Торрес‑дель‑Пайне в Патагонии, этот
                  автомобиль отличается динамичным и брутальным характером.
                </p>
              </div>
              <ul class="list list-p s-catalog__info-list">
                <li>Кредит от 0,01% на срок до 96 месяцев</li>
                <li>Выгода в трейд-ин – до 250 000 ₽</li>
                <li>Покупка за 1 день</li>
              </ul>
              <div class="s-catalog__info-buttons">
                <a
                  href="#modal-feedback"
                  data-fancybox
                  data-modal-title="Запись на тест-драйв"
                  data-target-note="#modal-feedback .input-note"
                  data-btn-note="Запись на тест драйв: KORANDO"
                  class="btn-s"
                >
                  <span>Записаться на тест-драйв</span>
                </a>
                <a href="#" class="btn-s _outline">
                  <span>Подробнее о модели</span>
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-catalog-2">
            <div class="s-catalog__info">
              <div class="s-catalog__info-head">
                <div class="s-catalog__info-title">REXTON</div>
                <div class="s-catalog__price">от 3 254 000 ₽</div>
              </div>
              <div class="s-catalog__price-grid">
                <div class="item-grid">
                  <div class="item-name">Выгода до</div>
                  <div class="item-price">499 000 ₽</div>
                </div>
                <div class="item-grid">
                  <div class="item-name">Еж. платеж</div>
                  <div class="item-price">от 6 000 ₽</div>
                </div>
              </div>
              <div class="content-box s-catalog__info-content">
                <p>
                  Кроссовер, вдохновленный дикой природой, ее бурными реками,
                  крутыми горами и духом путешествий. Названный в честь
                  национального парка Торрес‑дель‑Пайне в Патагонии, этот
                  автомобиль отличается динамичным и брутальным характером.
                </p>
              </div>
              <ul class="list list-p s-catalog__info-list">
                <li>Кредит от 0,01% на срок до 96 месяцев</li>
                <li>Выгода в трейд-ин – до 250 000 ₽</li>
                <li>Покупка за 1 день</li>
              </ul>
              <div class="s-catalog__info-buttons">
                <a
                  href="#modal-feedback"
                  data-fancybox
                  data-modal-title="Запись на тест-драйв"
                  data-target-note="#modal-feedback .input-note"
                  data-btn-note="Запись на тест драйв: KORANDO"
                  class="btn-s"
                >
                  <span>Записаться на тест-драйв</span>
                </a>
                <a href="#" class="btn-s _outline">
                  <span>Подробнее о модели</span>
                </a>
              </div>
            </div>
          </div>
          <div data-tab="tab-catalog-3">
            <div class="s-catalog__info">
              <div class="s-catalog__info-head">
                <div class="s-catalog__info-title">TIVOLI</div>
                <div class="s-catalog__price">от 3 254 000 ₽</div>
              </div>
              <div class="s-catalog__price-grid">
                <div class="item-grid">
                  <div class="item-name">Выгода до</div>
                  <div class="item-price">499 000 ₽</div>
                </div>
                <div class="item-grid">
                  <div class="item-name">Еж. платеж</div>
                  <div class="item-price">от 6 000 ₽</div>
                </div>
              </div>
              <div class="content-box s-catalog__info-content">
                <p>
                  Кроссовер, вдохновленный дикой природой, ее бурными реками,
                  крутыми горами и духом путешествий. Названный в честь
                  национального парка Торрес‑дель‑Пайне в Патагонии, этот
                  автомобиль отличается динамичным и брутальным характером.
                </p>
              </div>
              <ul class="list list-p s-catalog__info-list">
                <li>Кредит от 0,01% на срок до 96 месяцев</li>
                <li>Выгода в трейд-ин – до 250 000 ₽</li>
                <li>Покупка за 1 день</li>
              </ul>
              <div class="s-catalog__info-buttons">
                <a
                  href="#modal-feedback"
                  data-fancybox
                  data-modal-title="Запись на тест-драйв"
                  data-target-note="#modal-feedback .input-note"
                  data-btn-note="Запись на тест драйв: KORANDO"
                  class="btn-s"
                >
                  <span>Записаться на тест-драйв</span>
                </a>
                <a href="#" class="btn-s _outline">
                  <span>Подробнее о модели</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-catalog__gallery">
        <div class="tabs-content">
          <div data-tab="tab-catalog-0" class="_active _show">
            <img
              src="@img/catalog-img.png"
              alt="image"
              class="s-catalog__gallery-preview"
            />
            <img
              src="@img/catalog-gallery.jpg"
              alt="image"
              class="s-catalog__gallery-img"
            />
          </div>
          <div data-tab="tab-catalog-1">
            <img
              src="@img/catalog-img.png"
              alt="image"
              class="s-catalog__gallery-preview"
            />
            <img
              src="@img/catalog-gallery.jpg"
              alt="image"
              class="s-catalog__gallery-img"
            />
          </div>
          <div data-tab="tab-catalog-2">
            <img
              src="@img/catalog-img.png"
              alt="image"
              class="s-catalog__gallery-preview"
            />
            <img
              src="@img/catalog-gallery.jpg"
              alt="image"
              class="s-catalog__gallery-img"
            />
          </div>
          <div data-tab="tab-catalog-3">
            <img
              src="@img/catalog-img.png"
              alt="image"
              class="s-catalog__gallery-preview"
            />
            <img
              src="@img/catalog-gallery.jpg"
              alt="image"
              class="s-catalog__gallery-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
