<section class="sect-m s-contacts" id="s-contacts">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__wrap">
        <h2 class="s-title">Контактная информация дилера KGM</h2>
        <a
          href="#"
          target="_blank"
          rel="nofollow"
          class="btn-s s-contacts__btn"
        >
          <span>Проложить маршрут</span>
        </a>
      </div>
    </div>
    <div class="s-contacts__wrap">
      <div class="s-contacts__body">
        <div class="s-contacts__item">
          <div class="item-name">Телефон:</div>
          <a href="tel:+78462115946" class="item-tel">+7 (846) 211-59-46</a>
        </div>
        <div class="s-contacts__item">
          <div class="item-name">Наш адрес:</div>
          <div class="item-val">г. Самара, Южное шоссе 10А</div>
        </div>
        <div class="s-contacts__item">
          <div class="item-name">График работы:</div>
          <div class="item-val">Ежедневно с 9:00 до 20:00</div>
        </div>
        <div class="s-contacts__item">
          <div class="item-name">Мессенджеры:</div>
          <div class="social">
            <a href="#" target="_blank" rel="nofollow" class="social-item _white">
              <span><i class="icon-tg"></i></span>
            </a>
            <a href="#" target="_blank" rel="nofollow" class="social-item _white">
              <span><i class="icon-max"></i></span>
            </a>
            <a href="#" target="_blank" rel="nofollow" class="social-item _white">
              <span><i class="icon-vk"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="map s-contacts__map"
        data-center="[53.1410115712659,50.181023499999974]"
        data-zoom="18"
      ></div>
    </div>
  </div>
</section>
