<section class="sect-p bg-linear s-colors" id="s-colors">
  <img src="@img/logo-colors.png" alt="logo" class="s-colors__decor" />
  <div class="container tabs">
    <div class="tabs-content">
      <div data-tab="tab-0" class="_active _show">
        <div class="s-colors__slider-wrapper">
          <div class="slider-arrow _prev _opacity-white">
            <span><i class="icon-prev"></i></span>
          </div>
          <div class="swiper s-colors__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img.png" alt="image" />
              </div>
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img.png" alt="image" />
              </div>
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img.png" alt="image" />
              </div>
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="slider-arrow _next _opacity-white">
            <span><i class="icon-next"></i></span>
          </div>
        </div>
        <div class="slider-pagination _white"></div>
      </div>
      <div data-tab="tab-1">
        <div class="s-colors__slider-wrapper">
          <div class="slider-arrow _prev _opacity-white">
            <span><i class="icon-prev"></i></span>
          </div>
          <div class="swiper s-colors__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img-2.png" alt="image" />
              </div>
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img-2.png" alt="image" />
              </div>
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img-2.png" alt="image" />
              </div>
              <div class="swiper-slide s-colors__slide">
                <img src="@img/colors-img-2.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="slider-arrow _next _opacity-white">
            <span><i class="icon-next"></i></span>
          </div>
        </div>
        <div class="slider-pagination _white"></div>
      </div>
    </div>
    <div class="swiper s-colors__tabs-nav tabs-nav">
      <div class="swiper-wrapper">
        <div
          data-tab-btn="tab-0"
          class="swiper-slide s-colors__tab-btn _active"
        >
          <img src="@img/colors-img.png" alt="image" />
        </div>
        <div data-tab-btn="tab-1" class="swiper-slide s-colors__tab-btn">
          <img src="@img/colors-2.png" alt="image" />
        </div>
        <div
          data-tab-btn="tab-0"
          class="swiper-slide s-colors__tab-btn"
        >
          <img src="@img/colors-img.png" alt="image" />
        </div>
        <div data-tab-btn="tab-1" class="swiper-slide s-colors__tab-btn">
          <img src="@img/colors-2.png" alt="image" />
        </div>
        <div
          data-tab-btn="tab-0"
          class="swiper-slide s-colors__tab-btn"
        >
          <img src="@img/colors-img.png" alt="image" />
        </div>
        <div data-tab-btn="tab-1" class="swiper-slide s-colors__tab-btn">
          <img src="@img/colors-2.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
