<section class="sect-p bg-concrete s-credit" id="s-credit">
  <div class="container">
    <div class="s-credit__wrap">
      <div class="s-credit__body">
        <div class="s-credit__head">
          <div class="s-title">АВТОКРЕДИТ на KGM</div>
          <div class="s-credit__tag">
            В кредит от
            <strong>0,01%</strong>
          </div>
        </div>
        <div class="content-box s-credit__content">
          <p>
            Специальные программы покупки в кредит. Сниженные процентные ставки
            при поддержке производителя.
          </p>
        </div>
        <form action="#" class="s-credit__form">
          <div class="form-grid">
            <div class="form-control">
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="form-control">
              <input type="tel" placeholder="Телефон" class="input" />
            </div>
            <div class="form-control _full">
              <div class="select">
                <div class="select-btn">
                  <input
                    type="text"
                    placeholder="Модель"
                    readonly
                    class="input select-input"
                  />
                  <i class="icon-bottom select-arrow"></i>
                </div>
                <div class="select-body">
                  <div class="select-item">KORANDO 1</div>
                  <div class="select-item">KORANDO 2</div>
                  <div class="select-item">KORANDO 3</div>
                  <div class="select-item">KORANDO 4</div>
                </div>
              </div>
            </div>
            <div class="form-control">
              <input type="text" placeholder="Срок кредита" class="input" />
            </div>
            <div class="form-control">
              <input
                type="text"
                placeholder="Первоначальный взнос"
                class="input"
              />
            </div>
            <div class="form-control _full">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap" data-name="acceptance-60">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input
                          type="checkbox"
                          name="acceptance-60"
                          value="1"
                          aria-invalid="false"
                        />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я соглашаюсь с 
                            <a href="/personal-data" target="_blank">
                              Правилами обработки персональных данных
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control _full">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap" data-name="acceptance-60">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input
                          type="checkbox"
                          name="acceptance-60"
                          value="1"
                          aria-invalid="false"
                        />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я соглашаюсь на получение
                            <a href="/advertising-mail" target="_blank">
                              информационно-рекламной рассылки
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <button type="submit" class="btn-s">
              <span>Отправить</span>
            </button>
          </div>
        </form>
        <p class="s-credit__form-content">
          Минимальные платежи без переплат. Скидки на автомобили при оформлении
          кредита. Оставьте заявку и узнайте условия.
        </p>
      </div>
      <div class="s-credit__gallery">
        <img src="@img/credit.jpg" alt="image" class="s-credit__img">
      </div>
    </div>
  </div>
</section>
