<section class="sect-m s-faq" id="s-faq">
  <div class="container">
    <div data-spollers class="s-faq__grid">
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Можно ли оформить без первоначального взноса?</span>
          <i class="icon-bottom"></i>
        </div>
        <div>
          <div class="s-faq__content content-box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
              nihil! Asperiores est porro consectetur modi eius saepe
              perferendis amet maxime!
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Можно ли оформить без первоначального взноса?</span>
          <i class="icon-bottom"></i>
        </div>
        <div>
          <div class="s-faq__content content-box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
              nihil! Asperiores est porro consectetur modi eius saepe
              perferendis amet maxime!
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Можно ли оформить без первоначального взноса?</span>
          <i class="icon-bottom"></i>
        </div>
        <div>
          <div class="s-faq__content content-box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
              nihil! Asperiores est porro consectetur modi eius saepe
              perferendis amet maxime!
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Можно ли оформить без первоначального взноса?</span>
          <i class="icon-bottom"></i>
        </div>
        <div>
          <div class="s-faq__content content-box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
              nihil! Asperiores est porro consectetur modi eius saepe
              perferendis amet maxime!
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Можно ли оформить без первоначального взноса?</span>
          <i class="icon-bottom"></i>
        </div>
        <div>
          <div class="s-faq__content content-box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
              nihil! Asperiores est porro consectetur modi eius saepe
              perferendis amet maxime!
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Можно ли оформить без первоначального взноса?</span>
          <i class="icon-bottom"></i>
        </div>
        <div>
          <div class="s-faq__content content-box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
              nihil! Asperiores est porro consectetur modi eius saepe
              perferendis amet maxime!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
