<section class="s-hero">
  <div class="s-hero__bg-slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide s-hero__bg-slide">
        <picture>
          <img src="@img/hero-1.jpg" alt="image" />
        </picture>
      </div>
      <div class="swiper-slide s-hero__bg-slide">
        <picture>
          <img src="@img/hero-2.jpg" alt="image" />
        </picture>
      </div>
      <div class="swiper-slide s-hero__bg-slide">
        <picture>
          <img src="@img/hero-1.jpg" alt="image" />
        </picture>
      </div>
      <div class="swiper-slide s-hero__bg-slide">
        <picture>
          <img src="@img/hero-2.jpg" alt="image" />
        </picture>
      </div>
    </div>
  </div>
  <div class="swiper s-hero__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide s-hero__slide">
        <div class="container">
          <div class="s-hero__slide-body">
            <div class="s-hero__slide-title m-title">
              Официальный дилер KGM
              <br />
              в Самаре
            </div>
            <div class="content-box s-hero__slide-content">
              <p>
                Картельные сговоры не допускают ситуации, при которой
                стремящиеся вытеснить традиционное производство, нанотехнологии
                представляют собой не что иное, как квинтэссенцию победы
                маркетинга над разумом и должны быть описаны максимально
                подробно.
              </p>
            </div>
            <div class="s-hero__buttons">
              <a href="#modal-feedback" data-fancybox class="btn-s">
                <span>Оставить заявку</span>
              </a>
              <a href="#s-catalog" class="btn-s _white">
                <span>Посмотреть модельный ряд</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide s-hero__slide">
        <div class="container">
          <div class="s-hero__slide-body">
            <div class="s-hero__slide-title m-title">
              Официальный дилер KGM
              <br />
              в Самаре 2
            </div>
            <div class="content-box s-hero__slide-content">
              <p>
                Картельные сговоры не допускают ситуации, при которой
                стремящиеся вытеснить традиционное производство, нанотехнологии
                представляют собой не что иное, как квинтэссенцию победы
                маркетинга над разумом и должны быть описаны максимально
                подробно.
              </p>
            </div>
            <div class="s-hero__buttons">
              <a href="#modal-feedback" data-fancybox class="btn-s">
                <span>Оставить заявку</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide s-hero__slide">
        <div class="container">
          <div class="s-hero__slide-body">
            <div class="s-hero__slide-title m-title">
              Официальный дилер KGM
              <br />
              в Самаре
            </div>
            <div class="s-hero__buttons">
              <a href="#modal-feedback" data-fancybox class="btn-s">
                <span>Оставить заявку</span>
              </a>
              <a href="#s-catalog" class="btn-s _white">
                <span>Посмотреть модельный ряд</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide s-hero__slide">
        <div class="container">
          <div class="s-hero__slide-body">
            <div class="s-hero__slide-title m-title">
              Официальный дилер KGM
              <br />
              в Самаре
            </div>
            <div class="content-box s-hero__slide-content">
              <p>
                Картельные сговоры не допускают ситуации, при которой
                стремящиеся вытеснить традиционное производство, нанотехнологии
                представляют собой не что иное, как квинтэссенцию победы
                маркетинга над разумом и должны быть описаны максимально
                подробно.
              </p>
            </div>
            <div class="s-hero__buttons">
              <a href="#modal-feedback" data-fancybox class="btn-s">
                <span>Оставить заявку</span>
              </a>
              <a href="#s-catalog" class="btn-s _white">
                <span>Посмотреть модельный ряд</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-hero__slider-nav">
    <div class="container">
      <div class="s-hero__slider-nav-wrap">
        <div class="slider-pagination _white"></div>
        <div class="slider-arrows">
          <div class="slider-arrow _prev _white">
            <span>
              <i class="icon-prev"></i>
            </span>
          </div>
          <div class="slider-arrow _next _white">
            <span>
              <i class="icon-next"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
