<section class="sect-m s-intro">
  <picture class="s-intro__bg">
    <img src="@img/hero-2.jpg" alt="image" />
  </picture>
  <div class="container">
    <div class="s-intro__body">
      <h1 class="m-title s-intro__title">TORRES</h1>
      <div class="content-box s-intro__content">
        <p>
          Кроссовер, вдохновленный дикой природой, ее бурными реками, крутыми
          горами и духом путешествий. Названный в честь национального парка
          Торрес‑дель‑Пайне в Патагонии, этот автомобиль отличается динамичным
          и брутальным характером.
        </p>
      </div>
      <div class="s-intro__price">
        <div class="item">
          <div class="item-name">Выгода до</div>
          <div class="item-price">от 3 254 000 ₽</div>
        </div>
        <div class="item">
          <div class="item-name">Еж. платеж</div>
          <div class="item-price">от 18 000 ₽/мес</div>
        </div>
      </div>
      <div class="s-intro__buttons">
        <a
          href="#modal-feedback"
          data-fancybox
          data-modal-title="Записаться на тест-драйв"
          data-btn-note="Записаться на тест-драйв"
          data-target-note="#modal-feedback .input-note"
          class="btn-s"
        ><span>Записаться на тест-драйв</span></a>
        <a href="/#s-credit" class="btn-s _white"><span>Рассчитать платеж по кредиту онлайн</span></a>
      </div>
    </div>
  </div>
</section>
