<section class="s-offer sect-p" id="s-offer">
  <picture class="s-offer__bg">
    <img src="@img/offer.jpg" alt="" />
  </picture>
  <div class="container">
    <div class="s-offer__body">
      <div class="s-offer__head">
        <h2 class="s-title s-offer__title">
          Понравилась данная модель? Оставьте заявку прямо сейчас!
        </h2>
        <div class="content-box s-offer__content">
          Получите индивидуальное предложение на новый KGM и консультацию от
          официального дилера!
        </div>
      </div>
      <div class="s-offer__form-wrap">
        <form action="#" class="s-offer__form">
          <div class="form-grid">
            <div class="form-control">
              <div class="form-control-name">Ваше имя</div>
              <input type="text" placeholder="Имя" class="input" />
            </div>
            <div class="form-control">
              <div class="form-control-name">Телефон</div>
              <input
                type="tel"
                placeholder="+7 (___) ___-__-__"
                class="input"
              />
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap" data-name="acceptance-60">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input
                          type="checkbox"
                          name="acceptance-60"
                          value="1"
                          aria-invalid="false"
                        />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я соглашаюсь с 
                            <a href="/personal-data" target="_blank">
                              Правилами обработки персональных данных
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <div class="form-control">
              <div class="check-wrap">
                <span class="wpcf7-form-control-wrap" data-name="acceptance-60">
                  <span class="wpcf7-form-control wpcf7-acceptance">
                    <span class="wpcf7-list-item">
                      <label>
                        <input
                          type="checkbox"
                          name="acceptance-60"
                          value="1"
                          aria-invalid="false"
                        />
                        <span class="wpcf7-list-item-label">
                          <span>
                            Я соглашаюсь на получение
                            <a href="/advertising-mail" target="_blank">
                              информационно-рекламной рассылки
                            </a>
                          </span>
                        </span>
                      </label>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            <button type="submit" class="btn-s"><span>Отправить</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
