<section class="sect-m s-preview" id="s-preview">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Экстерьер</h2>
    </div>
    <div class="s-preview__grid">
      <article class="s-preview__item">
        <img src="@img/preview.jpg" alt="image" class="s-preview__item-img" />
        <div class="s-preview__item-body">
          <h3 class="s-preview__item-title">Дизайн</h3>
          <div class="content-box s-preview__item-content">
            <p>
              Torres - первая модель KGM, созданная в стилистике обновленного
              бренда. Она задает новое направление дизайна и философии будущих
              моделей марки.
            </p>
          </div>
        </div>
      </article>
      <article class="s-preview__item">
        <img src="@img/preview.jpg" alt="image" class="s-preview__item-img" />
        <div class="s-preview__item-body">
          <h3 class="s-preview__item-title">КОМБИНИРОВАННЫЕ ЗАДНИЕ ФОНАРИ</h3>
          <div class="content-box s-preview__item-content">
            <p>
              Банальные, но неопровержимые выводы, а также некоторые особенности
              внутренней политики ограничены исключительно образом мышления.
            </p>
          </div>
        </div>
      </article>
      <article class="s-preview__item">
        <img src="@img/preview.jpg" alt="image" class="s-preview__item-img" />
        <div class="s-preview__item-body">
          <h3 class="s-preview__item-title">БОКОВАЯ ПРОЕКЦИЯ KGM TORRES</h3>
          <div class="content-box s-preview__item-content">
            <p>
              Лишь явные признаки победы институционализации, инициированные
              исключительно синтетически, объявлены нарушающими общечеловеческие
              нормы.
            </p>
          </div>
        </div>
      </article>
      <article class="s-preview__item">
        <img src="@img/preview.jpg" alt="image" class="s-preview__item-img" />
        <div class="s-preview__item-body">
          <h3 class="s-preview__item-title">
            РЕШЕТКА РАДИАТОРА В СОЧЕТАНИИ С ПЕРЕДНЕЙ ОПТИКОЙ
          </h3>
          <div class="content-box s-preview__item-content">
            <p>
              Каждый из нас понимает очевидную вещь: внедрение современных
              методик требует определения и уточнения соответствующих условий
              активизации.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
