<section class="sect-m s-promo" id="s-promo">
  <div class="container">
    <div class="sect-head">
      <div class="s-title">Все акции и специальные предложения</div>
    </div>
    <div class="swiper s-promo__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__tag">Выгода до 600 000 руб*</div>
            </div>
            <div class="card-promo__date">Срок акции до 12.10.2026</div>
            <h3 class="card-promo__title t-title">Кредит 0,01% до 7 лет</h3>
            <div class="content-box card-promo__content">
              <p>Минимальная ставка и быстрый одобрительный процесс</p>
            </div>
            <a
              href="#modal-feedback"
              data-fancybox
              data-btn-note="Акция: Кредит 0,01% до 7 лет"
              data-target-note="#modal-feedback .input-note"
              data-modal-title="Получить предложение"
              class="btn-s _outline card-promo__btn"
            >
              <span>Получить предложение</span>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__tag">Выгода до 600 000 руб*</div>
            </div>
            <div class="card-promo__date">Срок акции до 12.10.2026</div>
            <h3 class="card-promo__title t-title">Кредит 0,01% до 7 лет</h3>
            <div class="content-box card-promo__content">
              <p>Минимальная ставка и быстрый одобрительный процесс</p>
            </div>
            <a
              href="#modal-feedback"
              data-fancybox
              data-btn-note="Акция: Кредит 0,01% до 7 лет"
              data-target-note="#modal-feedback .input-note"
              data-modal-title="Получить предложение"
              class="btn-s _outline card-promo__btn"
            >
              <span>Получить предложение</span>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__tag">Выгода до 600 000 руб*</div>
            </div>
            <div class="card-promo__date">Срок акции до 12.10.2026</div>
            <h3 class="card-promo__title t-title">Кредит 0,01% до 7 лет</h3>
            <div class="content-box card-promo__content">
              <p>Минимальная ставка и быстрый одобрительный процесс</p>
            </div>
            <a
              href="#modal-feedback"
              data-fancybox
              data-btn-note="Акция: Кредит 0,01% до 7 лет"
              data-target-note="#modal-feedback .input-note"
              data-modal-title="Получить предложение"
              class="btn-s _outline card-promo__btn"
            >
              <span>Получить предложение</span>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__tag">Выгода до 600 000 руб*</div>
            </div>
            <div class="card-promo__date">Срок акции до 12.10.2026</div>
            <h3 class="card-promo__title t-title">Кредит 0,01% до 7 лет</h3>
            <div class="content-box card-promo__content">
              <p>Минимальная ставка и быстрый одобрительный процесс</p>
            </div>
            <a
              href="#modal-feedback"
              data-fancybox
              data-btn-note="Акция: Кредит 0,01% до 7 лет"
              data-target-note="#modal-feedback .input-note"
              data-modal-title="Получить предложение"
              class="btn-s _outline card-promo__btn"
            >
              <span>Получить предложение</span>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-promo">
            <div class="card-promo__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-promo__img" />
              <div class="card-promo__tag">Выгода до 600 000 руб*</div>
            </div>
            <div class="card-promo__date">Срок акции до 12.10.2026</div>
            <h3 class="card-promo__title t-title">Кредит 0,01% до 7 лет</h3>
            <div class="content-box card-promo__content">
              <p>Минимальная ставка и быстрый одобрительный процесс</p>
            </div>
            <a
              href="#modal-feedback"
              data-fancybox
              data-btn-note="Акция: Кредит 0,01% до 7 лет"
              data-target-note="#modal-feedback .input-note"
              data-modal-title="Получить предложение"
              class="btn-s _outline card-promo__btn"
            >
              <span>Получить предложение</span>
            </a>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
