<section class="sect-m s-preview" id="s-preview-interior">
  <div class="container tabs">
    <div class="sect-head">
      <div class="s-preview__head-wrap">
        <h2 class="s-title">Интерьер</h2>
        <div class="sect-nav swiper tabs-nav">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div data-tab-btn="tab-0" class="sect-nav__btn _active">
                Тёплые опции
              </div>
            </div>
            <div class="swiper-slide">
              <div data-tab-btn="tab-1" class="sect-nav__btn">Мультимедиа</div>
            </div>
            <div class="swiper-slide">
              <div data-tab-btn="tab-2" class="sect-nav__btn">
                Высочайшее качество
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div data-tab="tab-0" class="_active _show">
        <div class="s-preview__grid">
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">КЛИМАТ КОНТРОЛЬ</h3>
              <div class="content-box s-preview__item-content">
                <p>
                  Позволяет автоматически поддерживать заданную температуру в
                  салоне
                </p>
              </div>
            </div>
          </article>
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">
                РЕГУЛИРОВКА РУЛЕВОЙ КОЛОНКИ ПО ВЫСОТЕ И ВЫЛЕТУ
              </h3>
              <div class="content-box s-preview__item-content">
                <p>Позволяет настроить руль для максимального комфорта</p>
              </div>
            </div>
          </article>
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">ПАНОРАМНАЯ КРЫША</h3>
              <div class="content-box s-preview__item-content">
                <p>
                  Создает ощущение большего пространства в салоне благодаря
                  большому стеклянному панно, которое пропускает больше света
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div data-tab="tab-1">
        <div class="s-preview__grid">
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">КЛИМАТ КОНТРОЛЬ</h3>
              <div class="content-box s-preview__item-content">
                <p>
                  Позволяет автоматически поддерживать заданную температуру в
                  салоне
                </p>
              </div>
            </div>
          </article>
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">
                РЕГУЛИРОВКА РУЛЕВОЙ КОЛОНКИ ПО ВЫСОТЕ И ВЫЛЕТУ
              </h3>
              <div class="content-box s-preview__item-content">
                <p>Позволяет настроить руль для максимального комфорта</p>
              </div>
            </div>
          </article>
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">ПАНОРАМНАЯ КРЫША</h3>
              <div class="content-box s-preview__item-content">
                <p>
                  Создает ощущение большего пространства в салоне благодаря
                  большому стеклянному панно, которое пропускает больше света
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div data-tab="tab-2">
        <div class="s-preview__grid">
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">КЛИМАТ КОНТРОЛЬ</h3>
              <div class="content-box s-preview__item-content">
                <p>
                  Позволяет автоматически поддерживать заданную температуру в
                  салоне
                </p>
              </div>
            </div>
          </article>
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">
                РЕГУЛИРОВКА РУЛЕВОЙ КОЛОНКИ ПО ВЫСОТЕ И ВЫЛЕТУ
              </h3>
              <div class="content-box s-preview__item-content">
                <p>Позволяет настроить руль для максимального комфорта</p>
              </div>
            </div>
          </article>
          <article class="s-preview__item">
            <img
              src="@img/preview.jpg"
              alt="image"
              class="s-preview__item-img"
            />
            <div class="s-preview__item-body">
              <h3 class="s-preview__item-title t-title">ПАНОРАМНАЯ КРЫША</h3>
              <div class="content-box s-preview__item-content">
                <p>
                  Создает ощущение большего пространства в салоне благодаря
                  большому стеклянному панно, которое пропускает больше света
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
