<section class="sect-p bg-concrete s-rec" id="s-rec">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Другие новости</h2>
    </div>
    <div class="swiper s-rec__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <div class="card-new__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-new__img" />
            </div>
            <div class="card-new__date">12.10.2026</div>
            <div class="card-new__title">
              Воистину радостный звук: глас грядущего поколения
            </div>
            <div class="btn-s _white card-new__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <div class="card-new__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-new__img" />
            </div>
            <div class="card-new__date">12.10.2026</div>
            <div class="card-new__title">
              Воистину радостный звук: глас грядущего поколения
            </div>
            <div class="btn-s _white card-new__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <div class="card-new__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-new__img" />
            </div>
            <div class="card-new__date">12.10.2026</div>
            <div class="card-new__title">
              Воистину радостный звук: глас грядущего поколения
            </div>
            <div class="btn-s _white card-new__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <div class="card-new__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-new__img" />
            </div>
            <div class="card-new__date">12.10.2026</div>
            <div class="card-new__title">
              Воистину радостный звук: глас грядущего поколения
            </div>
            <div class="btn-s _white card-new__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <div class="card-new__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-new__img" />
            </div>
            <div class="card-new__date">12.10.2026</div>
            <div class="card-new__title">
              Воистину радостный звук: глас грядущего поколения
            </div>
            <div class="btn-s _white card-new__btn">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <div class="card-new__gallery">
              <img src="@img/promo.jpg" alt="image" class="card-new__img" />
            </div>
            <div class="card-new__date">12.10.2026</div>
            <div class="card-new__title">
              Воистину радостный звук: глас грядущего поколения
            </div>
            <div class="btn-s _white card-new__btn">Подробнее</div>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
