<section class="sect-p bg-concrete s-spec" id="s-spec">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Основные характеристики</h2>
    </div>
    <div class="s-spec__wrap">
      <div class="s-spec__item">
        <div class="item-name">Двигатель</div>
        <div class="item-val">Турбированный 4-х цилиндровый</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Максимальный крутящий момент</div>
        <div class="item-val">280/1500-4000 Нм при об/мин</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип трансмиссии</div>
        <div class="item-val">Автоматическая 6-ступенчатая AISIN</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Двигатель</div>
        <div class="item-val">Турбированный 4-х цилиндровый</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Максимальный крутящий момент</div>
        <div class="item-val">280/1500-4000 Нм при об/мин</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип трансмиссии</div>
        <div class="item-val">Автоматическая 6-ступенчатая AISIN</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Двигатель</div>
        <div class="item-val">Турбированный 4-х цилиндровый</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Максимальный крутящий момент</div>
        <div class="item-val">280/1500-4000 Нм при об/мин</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип трансмиссии</div>
        <div class="item-val">Автоматическая 6-ступенчатая AISIN</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
      <div class="s-spec__item">
        <div class="item-name">Тип впрыска</div>
        <div class="item-val">Непосредственный</div>
      </div>
    </div>
  </div>
</section>
