<section class="sect-p bg-concrete s-team" id="s-team">
  <div class="container">
    <div class="sect-head">
      <div class="s-title">Вас будут сопровождать</div>
    </div>
    <div class="swiper s-team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-team">
            <div class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" />
            </div>
            <div class="card-team__body">
              <h3 class="t-title card-team__title">Иван Иванов</h3>
              <div class="card-team__post">Должность</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <div class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" />
            </div>
            <div class="card-team__body">
              <h3 class="t-title card-team__title">Иван Иванов</h3>
              <div class="card-team__post">Должность</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <div class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" />
            </div>
            <div class="card-team__body">
              <h3 class="t-title card-team__title">Иван Иванов</h3>
              <div class="card-team__post">Должность</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <div class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" />
            </div>
            <div class="card-team__body">
              <h3 class="t-title card-team__title">Иван Иванов</h3>
              <div class="card-team__post">Должность</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <div class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" />
            </div>
            <div class="card-team__body">
              <h3 class="t-title card-team__title">Иван Иванов</h3>
              <div class="card-team__post">Должность</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <div class="card-team__gallery">
              <img src="@img/team.jpg" alt="image" />
            </div>
            <div class="card-team__body">
              <h3 class="t-title card-team__title">Иван Иванов</h3>
              <div class="card-team__post">Должность</div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
