<section class="sect-m s-technology" id="s-technology">
  <div class="container tabs">
    <div class="sect-head">
      <div class="s-technology__head-wrap">
        <h2 class="s-title">Технологии</h2>
        <div class="sect-nav swiper tabs-nav">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div data-tab-btn="tab-0" class="sect-nav__btn _active">
                Полный привод
              </div>
            </div>
            <div class="swiper-slide">
              <div data-tab-btn="tab-1" class="sect-nav__btn">Мультимедиа</div>
            </div>
            <div class="swiper-slide">
              <div data-tab-btn="tab-2" class="sect-nav__btn">
                Высочайшее качество
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div data-tab="tab-0" class="_active _show">
        <article class="s-technology__item">
          <picture class="s-technology__item-bg">
            <img src="@img/technology.jpg" alt="image">
          </picture>
          <div class="s-technology__item-body">
            <h3 class="t-title s-technology__item-title">Полный привод</h3>
            <div class="content-box s-technology__item-content">
              <p>
                Обеспечивает уверенное сцепление с дорогой в любых погодных и
                дорожных условиях
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
